body{

margin:0;
font-family:Arial;
background:black;
color:white;

}

canvas{

position:fixed;
top:0;
left:0;
z-index:-1;

}

nav{

display:flex;
justify-content:space-between;
padding:20px;
background:#020617;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

header{

text-align:center;
padding:120px 20px;

}

.perfil{

width:170px;
border-radius:50%;
border:4px solid #00ff9d;

}

.btn{

background:#00ff9d;
color:black;
padding:10px 20px;
border-radius:5px;
text-decoration:none;

}

section{

max-width:900px;
margin:auto;
padding:80px 20px;

}

.timeline{

border-left:3px solid #00ff9d;
padding-left:20px;

}

.skills{

max-width:600px;

}

.bar{

height:10px;
background:#1e293b;

}

.bar div{

height:10px;
background:#00ff9d;

}

.cards{

display:flex;
flex-wrap:wrap;
gap:20px;

}

.card{

background:#111;
padding:20px;
border-radius:10px;
width:250px;
text-align:center;

}

.card i{

font-size:40px;
color:#00ff9d;

}

.whatsapp{

position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:28px;
padding:15px;
border-radius:50%;

}

.menu-btn{

display:none;

}

@media(max-width:768px){

nav ul{

display:none;
flex-direction:column;

}

.menu-btn{

display:block;

}

.cards{

flex-direction:column;

}

}